<div id="container">
  
  <!-- appointments panel -->
  <div class="panel panel-default consult" id="background">
    <div class="panel-heading">
      <h3 class="panel-title">Patient info</h3>
    </div>
    <div class="panel-body">
      <body ng-controller="PtntInfoCtrl">
      <table>
        <tr>
          <td align="right">Search :</td>
          <td><input ng-model="query[queryBy]" /></td>
        </tr>
        <tr>
          <td align="right">Search By :</td>
          <td>
            <select ng-model="queryBy">
              <option value="$"></option>
              <option value="name">NAME</option>
              <option value="UR">UR</option>
            </select>
          </td>
        </tr>
      </table>
      <hr>
      <div>
        <table>
          <tr>
            <th>Patient Name</th>
            <th>UR Number</th>
          </tr>
          <tr ng-repeat="patient in patients | filter:query">
            <td>{{patient.name}}</td>
            <td>{{patient.ur}}</td>
          </tr>
        </table>
      </div>
      </body>
    </div>
  </div>
  
  
  <!-- appointments panel -->
  <div class="panel panel-primary consult" id="notes">
    <div class="panel-heading">
      <h3 class="panel-title">Consultation notes</h3>
    </div>
    <div class="panel-body">
      <ul id="consultTab" class="nav nav-tabs">
        <li class="active">
          <a href="#home" data-toggle="tab">
            Consult Text
          </a>
        </li>
        <li><a href="#consultDrawing" data-toggle="tab">drawing</a></li>
      </ul>
      <div id="consultTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <p> <textarea ng-model="consulttext" cols="40" rows="10"></textarea></p>
        </div>
        <div class="tab-pane fade" id="consultDrawing">
          <canvas width="500" height="300" id="canvas" drawing></canvas>
        </div>
        <p>
          <button ng_click="save()">Save</button>
          <button ng-click="clear()">Clear</button>
        </p>
      </div>
  </div>
  
  <!-- appointments panel -->
  <div class="panel panel-info consult">
    <div class="panel-heading">
      <h3 class="panel-title">Recent test results</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Hb</th>
            <th>K+</th>
            <th>Na+</th>
            <th>Cl-</th>
          </tr>
          </thead>
          <tbody ng-controller="PathologyController">

          <tr ng-repeat="pathology in pathology">
            <td>{{pathology.name}}</td>
            <td>{{pathology.Hb}}</td>
            <td>{{pathology.K}}</td>
            <td>{{pathology.Na}}</td>
            <td>{{pathology.Cl}}</td>
          </tr>
          </tbody>

      </div>
    </div>
  </div>
  
  <!-- other stuff panel -->
  <div class="panel panel-image consult">
    <div class="panel-heading">
      <h3 class="panel-title">Other stuff</h3>
    </div>
      <div class="page-header">
        <h1>Carousel</h1>
      </div>
      <div ng-controller="ImageCtrl">
        <div id="carousel-images" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-images" ng-repeat="image in images" data-slide-to="{{$index}}" ng-class="{active: $index == 0}"></li>
          </ol>
          <div class="carousel-inner">
            <!-- Slide 1-->
            <div ng-repeat="image in images" ng-class="{active: $index == 0}" class="item">
              <img ng-src="{{image}}"/>
              <div class="carousel-caption">
                <h1>Slide {{image}}</h1>
                <p>Description goes here!!</p>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-images" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-images" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
  </div>
  
  <!-- important stuff panel -->
  <div class="panel panel-danger consult">
    <div class="panel-heading">
      <h3 class="panel-title">Search patient</h3>
    </div>
    <div class="panel-body">
      <span class="lead">These could be tabbable!</span>
    </div>
  </div>
  <!-- test for next 3 appointments panel -->
  <div class="panel panel-info consult" id="background" ng-controller="CalendarListCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Appointments</h3>
    </div>

    <div ng-repeat="appointment in appointments">
      {{appointment.id}}
      Display appointment patient and time (next 3) here
    </div>
     </div>

1