<div id="container">
  
  <!-- appointments panel -->
  <div class="panel panel-default consult" id="background">
    <div class="panel-heading">
      <h3 class="panel-title">Patient info</h3>
    </div>
    <div class="panel-body">
      <span class="lead">Key patient info goes here in one sentence</span>
    </div>
  </div>
  
  
  <!-- appointments panel -->
  <div class="panel panel-primary consult" id="notes">
    <div class="panel-heading">
      <h3 class="panel-title">Consultation notes</h3>
    </div>
    <div class="panel-body">
      <span class="lead">Big area for consult notes. I think this screen should scroll horizontally instead of vertically. Need to hook up angular too</span>
    </div>
  </div>
  
  <!-- appointments panel -->
  <div class="panel panel-info consult">
    <div class="panel-heading">
      <h3 class="panel-title">Recent test results</h3>
    </div>
    <div class="panel-body">
      <span class="lead">These could be tabbable!</span>
    </div>
  </div>
  
  <!-- other stuff panel -->
  <div class="panel panel-success consult">
    <div class="panel-heading">
      <h3 class="panel-title">Other stuff</h3>
    </div>
    <div class="panel-body">
      <span class="lead">These could be tabbable!</span>
    </div>
  </div>
  
  <!-- important stuff panel -->
  <div class="panel panel-danger consult">
    <div class="panel-heading">
      <h3 class="panel-title">Important stuff</h3>
    </div>
    <div class="panel-body">
      <span class="lead">These could be tabbable!</span>
    </div>
  </div>
  <!-- test for next 3 appointments panel -->
  <div class="panel panel-info consult" id="background" ng-controller="CalendarListCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Appointments</h3>
    </div>

    <div ng-repeat="appointment in appointments">
      {{appointment.id}}
      Display appointment patient and time (next 3) here
    </div>
     </div>

1