<!doctype html>
<html lang="en" ng-app="opthoApp">
<head>
  <meta charset="utf-8">
  <title>calendar widget</title>
  <link rel="stylesheet" href="app/assets/stylesheets/consultations/consultations.css.scss">
  <script src="optho/vendor/assets/bower_components/angular/angular.js"></script>
</head>
</html>

<body ng-controller="CalendarListCtrl">
<ul>
  <li ng-repeat="appointment in appointments">
    {{appointment.name}}
    <p>still here bro</p>
  </li>
</ul>
</body>
<div class="row">
  <div class="3u">
    Side bar
  </div>
  <div class="6u">
    hello
  </div>
  <div class="3u">
    Right bar
  </div>
</div>