<body>
<div my-widget>
  <p>Hello World</p>
</div>
</body>
<% if false %>
<body ng-controller="PtntInfoCtrl">
<table>
  <tr>
    <td align="right">Search :</td>
    <td><input ng-model="query[queryBy]" /></td>
  </tr>
  <tr>
    <td align="right">Search By :</td>
    <td>
      <select ng-model="queryBy">
        <option value="$"></option>
        <option value="name">NAME</option>
        <option value="UR">UR</option>
      </select>
    </td>
  </tr>
</table>
<hr>
<div>
  <table>
    <tr>
      <th>Patient Name</th>
      <th>UR Number</th>
    </tr>
    <tr ng-repeat="patient in patients | filter:query">
      <td>{{patient.name}}</td>
      <td>{{patient.ur}}</td>
    </tr>
  </table>
</div>
</body>
<div class="panel panel-info consult" id="background" ng-controller="CalendarListCtrl">
  <div class="panel-heading">
    <h3 class="panel-title">Appointments</h3>
  </div>

  <div ng-repeat="appointment in appointments">
    {{appointment.id}}
    Display appointment patient and time (next 3) here
  </div>
</div>

<body ng-controller="ImageCtrl">

<ul>
  <li ng-repeat="image in images">
    <a href="#/consultations/show/{{image.id}}" class="thumb"><img ng-src="{{image}}"></a>
    <p>
      {{image.snippet}}
    </p>
  </li>
</ul>

<div class="row">
  <li ng-repeat="image in images">
    <div class="col-xs-10">
      <a href="#/consultations/show/{{image.id}}" class="thumb"><img ng-src="{{image}}"></a>
  </li>
</div>
<div class="page-header">
  <h1>Carousel</h1>
</div>
<div ng-controller="ImageCtrl">
  <div id="carousel-images" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-images" ng-repeat="image in images" data-slide-to="{{$index}}" ng-class="{active: $index == 0}"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Slide 1-->
      <div ng-repeat="image in images" ng-class="{active: $index == 0}" class="item">
        <img ng-src="{{image}}"/>
        <div class="carousel-caption">
          <h1>Slide {{image}}</h1>
          <p>Description goes here!!</p>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-images" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-images" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Hb</th>
          <th>K+</th>
          <th>Na+</th>
          <th>Cl-</th>
        </tr>
        </thead>
        <tbody ng-controller="PathologyController">

        <tr ng-repeat="pathology in pathology">
          <td>{{pathology.name}}</td>
          <td>{{pathology.Hb}}</td>
          <td>{{pathology.K}}</td>
          <td>{{pathology.Na}}</td>
          <td>{{pathology.Cl}}</td>
        </tr>
        </tbody>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>UR</th>
          <th>DOB</th>
        </tr>
        </thead>
        <tbody ng-controller="PtntInfoCtrl">

        <tr ng-repeat="patient in patients">
          <td>{{patient.name}}</td>
          <td>{{patient.ur}}</td>
          <td>{{patient.DOB}}</td>
        </tr>
        </tbody>

    </div>
  </div>

  <body ng-controller="PtntInfoCtrl">
  <div ng-repeat="patient in patients">
    <p>
      {{patient.name}}
      {{patient.ur}}
    </p>
    <p>{{patient.DOB}}</p>
  </div>

  </body>
  <div class="row">
    <div class="3u">
      Side bar
    </div>
    <div class="6u">
      hello
    </div>
    <div class="3u">
      Right bar
    </div>
  </div>
  <ul id="consultTab" class="nav nav-tabs" role="tablist">
    <li class="active"><a data-target="#consulttext" role="tab" data-toggle="tab">Text</a></li>
    <li><a data-target="#drawing" role="tab" data-toggle="tab">Drawing</a></li>
  </ul>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label></i> Patient</label>
      <input type="text" class="form-control" ng-model="selectedPatient.name" ng-options="patient for patient in patients" placeholder="Patient" bs-typeahead>
    </div>
</div>
<% if false %>
<div class="drawing">
  <h1>Simple Canvas Drawing Directive in AngularJS</h1>
  <p>click and drag to draw!</p>
  <canvas width="500" height="300" id="canvas" drawing></canvas>


</div>

<div ng-controller="ConsultController">
  <h2>My Note</h2>

  <p><textarea ng-model="consulttext" cols="40" rows="10"></textarea></p>
<% end %>
  <p>
    <button ng_click="save()">Save</button>
    <button ng-click="clear()">Clear</button>
  </p>
</div>
<ul id="consultTab" class="nav nav-tabs">
  <li class="active">
    <a href="#home" data-toggle="tab">
     Consult Text
    </a>
  </li>
  <li><a href="#consultDrawing" data-toggle="tab">iOS</a></li>
</ul>
<div id="consultTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">
   <p> <textarea ng-model="consulttext" cols="40" rows="10"></textarea></p>
  </div>
  <div class="tab-pane fade" id="consultDrawing">
    <canvas width="500" height="300" id="canvas" drawing></canvas>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>lastscript</th>
        <th>nextscript</th>
        <th>tablets</th>
        <th>dose</th>
      </tr>
      </thead>
      <tbody ng-controller="MedicationController">

      <tr ng-repeat="medication in medications">
        <td>{{medication.name}}</td>
        <td>{{medication.lastscript}}</td>
        <td>{{medication.nextscript}}</td>
        <td>{{medication.tablets}}</td>
        <td>{{medication.dose}}</td>
      </tr>
      </tbody>

  </div>
</div>
<% end %>