<ul>
  <li ng-repeat="appointment in appointments">
    {{appointment.id}}
    <p>still here bro</p>
  </li>
</ul>

<div class="row">
  <div class="3u">
    Side bar
  </div>
  <div class="6u">
    hello
  </div>
  <div class="3u">
    Right bar
  </div>
</div>