<div class="panel panel-info consult" id="background" ng-controller="CalendarListCtrl">
  <div class="panel-heading">
    <h3 class="panel-title">Appointments</h3>
  </div>

  <div ng-repeat="appointment in appointments">
    {{appointment.id}}
    Display appointment patient and time (next 3) here
  </div>
</div>

<body ng-controller="ImageCtrl">

<ul>
  <li ng-repeat="image in images">
    <a href="#/consultations/show/{{image.id}}" class="thumb"><img ng-src="{{image}}"></a>
    <p>
      {{image.snippet}}
    </p>
  </li>
</ul>

<div class="row">
  <li ng-repeat="image in images">
    <div class="col-xs-10">
      <a href="#/consultations/show/{{image.id}}" class="thumb"><img ng-src="{{image}}"></a>
  </li>
</div>
<div class="page-header">
  <h1>Carousel</h1>
</div>
<div ng-controller="ImageCtrl">
  <div id="carousel-images" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-images" ng-repeat="image in images" data-slide-to="{{$index}}" ng-class="{active: $index == 0}"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Slide 1-->
      <div ng-repeat="image in images" ng-class="{active: $index == 0}" class="item">
        <img ng-src="{{image}}"/>
        <div class="carousel-caption">
          <h1>Slide {{image}}</h1>
          <p>Description goes here!!</p>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-images" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-images" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>UR</th>
          <th>DOB</th>
        </tr>
        </thead>
        <tbody ng-controller="PtntInfoCtrl">

        <tr ng-repeat="patient in patients">
          <td>{{patient.name}}</td>
          <td>{{patient.ur}}</td>
          <td>{{patient.DOB}}</td>
        </tr>
        </tbody>

    </div>
  </div>
  <body ng-controller="PtntInfoCtrl">
  <div ng-repeat="patient in patients">
    <p>
      {{patient.name}}
      {{patient.ur}}
    </p>
    <p>{{patient.DOB}}</p>
  </div>

  </body>
  <div class="row">
    <div class="3u">
      Side bar
    </div>
    <div class="6u">
      hello
    </div>
    <div class="3u">
      Right bar
    </div>
  </div>

  <form class="form-inline" role="form">
    <div class="form-group">
      <label></i> Patient</label>
      <input type="text" class="form-control" ng-model="selectedPatient.name" ng-options="patient for patient in patients" placeholder="Patient" bs-typeahead>
    </div>
</div>
