<% if false %>
<div class="panel panel-info consult" id="background" ng-controller="CalendarListCtrl">
  <div class="panel-heading">
    <h3 class="panel-title">Appointments</h3>
  </div>

  <div ng-repeat="appointment in appointments">
    {{appointment.id}}
    Display appointment patient and time (next 3) here
  </div>
</div>
<% end %>
<body ng-controller="ImageCtrl">

<ul>
  <li ng-repeat="image in images">
    <a href="#/consultations/show/" class="thumb"><img ng-src="{{image}}"></a>
    <p>
     {{image.snippet}}
    </p>
  </li>
</ul>


<div class="row">
  <div class="3u">
    Side bar
  </div>
  <div class="6u">
    hello
  </div>
  <div class="3u">
    Right bar
  </div>
</div>