// Place all the styles related to the consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =================== */
/* = Packery styling = */
/* =================== */

.consult.panel {
  width: 100%;
  min-height: 200px;

}

#notes {
  width: 60%;
  opacity: 0.9;
}

body.consultations {
  padding-top: 110px;
  opacity: 0.9
}

#images {

}

#testresults {
 width: 50%;
}

#patientinfo {
  width: 60%
}