// Place all the styles related to the consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =================== */
/* = Packery styling = */
/* =================== */

.consult.item {
  width: 25%;
  background-color: #000fff;
  height: 25px;
}
.consult.item.w2 {
  width: 50%;
}