



<head>
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
    }
  </style>
</head>
<body>
<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var bird = bird;
          console.log('bird from map', bird);
        var uluru = {lat: -25.344, lng: 131.036};

        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwCEoabyagMtICRiCx-AQpGRe7hHz-rAM&callback=initMap"
        type="text/javascript"></script>

</body>

<div ng-repeat="bird in birds" ng-click="selectBird(bird)">{{bird.id}}</div>

<div> <input type ="text" name="name" ng-model="bird.name" /></div>
<div> <input type ="string" name="latitude" ng-model="bird.latitude" /></div>
<div> <input type ="string" name="longitude" ng-model="bird.longitude" /></div>

<div>
  <button type="submit" ng-click="createBird()">Create Bird</button>
</div>
<div>
  <button type="submit" ng-click="updateBird(bird)">Update Bird</button>
</div>

<div class="control-group">
  <label class="control-label" >Photo</label>
  <div class="controls">
    <input type="file" ngf-select ng-model="bird.photo">
  </div>
</div>
<button class="btn btn-primary" ng-click="birdPhoto()">Photo</button>
<div>
  <img ng-model="bird.photo" />{{bird.photo}}
  <img data-seq ng-src="http://localhost:3000{{bird.photo.url}}">
  <!--<img data-seq ng-src="http://localhost:3000/uploads/consumer/avatar/9/another_test.jpg">-->

  <!--<img data-seq ng-src="uploads/consumer/avatar/9/test image.jpeg">-->
  <!--<img data-seq ng-src="uploads/consumer/avatar/9/another_test.jpg">-->
  <!--<img data-seq ng-src="assets/images/demo/1-9e68963a2047c00a8f1b6410fe8e6410.png">-->
  <!--<img src="api/public/uploads/consumer/avatar/9/test_image.jpeg">-->
  <!--<img data-seq src="api/uploads/consumer/avatar/14/test image.jpeg">-->


</div>
