
<div class="widget border-cyan" id="widget-datatables1">
    <!-- widget header -->
    <div class="widget-header bg-cyan">
        <!-- widget icon -->
        <div class="widget-icon"><i class="aweso-table"></i></div>
        <!-- widget title -->
        <h4 class="widget-title">Billable Items</h4>
        <!-- widget action, you can also use btn, btn-group, nav-tabs or nav-pills (also support dropdown). enjoy! -->
        <div class="widget-action color-cyan">
            <button data-toggle="collapse" data-collapse="widget-datatables1" class="btn">
                <i class="aweso-minus" data-toggle-icon="aweso-minus aweso-plus"></i>
            </button>
        </div>
    </div><!-- /widget header -->

    <!-- widget content -->
    <div class="widget-content">
        <table id="datatables1" class="table table-striped table-hover">
            <thead>
            <input type="search" ng-model="search" placeholder="Search...">

            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Country</th>
                <th>Registration name</th>
                <th>Website</th>
                <th>Contact infomation</th>
                <th>Online</th>

            </tr>
            </thead>
            <tbody  data-ng-repeat="business in businesses | filter:search" ng-click="update('sm', business)">
            <tr>
                <td>{{business.name}}</td>
                <td>{{business.address}}</td>
                <td>{{business.city}}</td>
                <td>{{business.state}}</td>
                <td>{{business.postcde}}</td>
                <td>{{business.country}}</td>
                <td>{{business.registrationname}}</td>
                <td>{{business.website}}</td>
                <td>{{business.contact}}</td>
                <td>{{business.online}}</td>



            </tr>
            </tbody><!-- source with ajax -->
        </table>
    </div><!-- /widget content -->
</div> <!-- /widget datatables #1 -->


<button class="btn btn-primary" ng-click="create('sm')">Create</button>


<script type="text/ng-template" id="createModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new business contact!</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Company name</strong></label>
                <input class="span3"  ng-model="business.name" placeholder="Company Name" type="text" maxlength="40" required>
                <label><strong>Address</strong></label>
                <input class="span3"  ng-model="business.address" placeholder="Address" type="text" maxlength="40" required>
                <label><strong>City</strong></label>

                <input class="span3" ng-model="business.city" placeholder="City" type="text" maxlength="40" required>
                <label><strong>State</strong></label>

                <input class="span3" ng-model="business.state" placeholder="State" type="text" maxlength="40" required>
                <label><strong>Post code</strong></label>

                <input class="span3" ng-model="business.postcode" placeholder="Postcode" type="integer" maxlength="40" required>
                <label><strong>Country</strong></label>

                <input class="span3" ng-model="business.country" placeholder="Country" type="text" maxlength="40" required>
                <label><strong>Registration </strong></label>

                <input class="span3" ng-model="business.registrationname" placeholder="Registration name" type="integer" maxlength="40" required>
                <label><strong>Reg number</strong></label>

                <input class="span3" ng-model="business.registrationnumber" placeholder="Registration number" type="text" maxlength="40" required>
                <label><strong>Website</strong></label>

                <input class="span3" ng-model="business.website" placeholder="category" type="website" maxlength="40" required>
                <label><strong>Contact</strong></label>

                <input class="span3" ng-model="business.contact" placeholder="category" type="contact" maxlength="40" required>

                <label><strong>Online bookings?</strong></label>

                    <input type="checkbox" ng-model="business.online"
                           ng-true-value="'1'" ng-false-value="'0'" required>
                </label>
                <button class="btn btn-primary" ng-click="createBusiness ()">Create</button>
                <div class="alert alert-success" ng-show="isPopupVisible">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Business created</strong>

                </div>
                <div class="alert" ng-show="isPopupVisible5">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Did not work!</strong>

                </div>
            </fieldset>
        </form>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update/delete contact</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Company name</strong></label>
                <input class="span3"  ng-model="business.name" placeholder="Company Name" type="text" maxlength="40" required>
                <label><strong>Address</strong></label>
                <input class="span3"  ng-model="business.address" placeholder="Address" type="text" maxlength="40" required>
                <label><strong>City</strong></label>

                <input class="span3" ng-model="business.city" placeholder="City" type="text" maxlength="40" required>
                <label><strong>State</strong></label>

                <input class="span3" ng-model="business.state" placeholder="State" type="text" maxlength="40" required>
                <label><strong>Post code</strong></label>

                <input class="span3" ng-model="business.postcode" placeholder="Postcode" type="integer" maxlength="40" required>
                <label><strong>Country</strong></label>

                <input class="span3" ng-model="business.country" placeholder="Country" type="text" maxlength="40" required>
                <label><strong>Registration </strong></label>

                <input class="span3" ng-model="business.registrationname" placeholder="Registration name" type="integer" maxlength="40" required>
                <label><strong>Reg number</strong></label>

                <input class="span3" ng-model="business.registrationnumber" placeholder="Registration number" type="text" maxlength="40" required>
                <label><strong>Website</strong></label>

                <input class="span3" ng-model="business.website" placeholder="category" type="website" maxlength="40" required>
                <label><strong>Contact</strong></label>

                <input class="span3" ng-model="business.contact" placeholder="category" type="contact" maxlength="40" required>

                <label><strong>Online bookings?</strong></label>

                <input type="checkbox" ng-model="business.online"
                       ng-true-value="'1'" ng-false-value="'0'" required>
                </label>
                <div class="alert" ng-show="isPopupVisible">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Warning!</strong>
                    This action is final. Do you want to continue?
                    <button class="btn btn-primary" ng-click="updateBusiness()">Yes</button>

                </div>
                <div class="alert" ng-show="isPopupVisible2">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Warning!</strong>
                    This action is final. Do you want to continue?
                    <button class="btn btn-primary" ng-click="destroyBusiness()">Yes</button>

                </div>

                <div class="alert alert-success" ng-show="isPopupVisible3">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Business created</strong>
                </div>
                <div class="alert alert-success" ng-show="isPopupVisible4">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Success!</strong>

                </div>
                <div class="alert" ng-show="isPopupVisible5">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Did not work!</strong>

                </div>
    <button class="btn btn-primary" ng-click="showPopup()">Update</button>
    <button class="btn btn-primary" ng-click="showPopup2()">Delete</button>

    </fieldset>        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>




