
<div class="widget border-cyan" id="widget-datatables1">
    <!-- widget header -->
    <div class="widget-header bg-cyan">
        <!-- widget icon -->
        <div class="widget-icon"><i class="aweso-table"></i></div>
        <!-- widget title -->
        <h4 class="widget-title">Billable Items</h4>
        <!-- widget action, you can also use btn, btn-group, nav-tabs or nav-pills (also support dropdown). enjoy! -->
        <div class="widget-action color-cyan">
            <button data-toggle="collapse" data-collapse="widget-datatables1" class="btn">
                <i class="aweso-minus" data-toggle-icon="aweso-minus aweso-plus"></i>
            </button>
        </div>
    </div><!-- /widget header -->

    <!-- widget content -->
    <div class="widget-content">
        <table id="datatables1" class="table table-striped table-hover">
            <thead>
            <input type="search" ng-model="search" placeholder="Search...">

            <tr>
                <th>Name</th>
                <th>Percentage</th>

            </tr>
            </thead>
            <tbody  data-ng-repeat="concession_type in concession_types | filter:search" ng-click="update('sm', concession_type)">
            <tr>
                <td>{{concession_type.name}}</td>
                <td>{{concession_type.percentage}}</td>

            </tr>
            </tbody><!-- source with ajax -->
        </table>
    </div><!-- /widget content -->
</div> <!-- /widget datatables #1 -->


<button class="btn btn-primary" ng-click="create('sm')">Create</button>



<script type="text/ng-template" id="createModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a concession type!</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Create new concession type!</strong></label>
                <input class="span3" id="formData.concession_typeName" ng-model="concession_type.name" placeholder="Name" type="text" maxlength="40" required>
                <label><strong>Concession name</strong></label>
                <input class="span3" id="formData.concession_typePercentage" ng-model="concession_type.percentage" placeholder="Percentage" type="integer" maxlength="40" required>
                <label><strong>%</strong></label>

                <button class="btn btn-primary" ng-click="createConcession_type()">Create</button>
                <div class="alert alert-success" ng-show="isPopupVisible">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Business created</strong>

                </div>
                <div class="alert" ng-show="isPopupVisible5">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Did not work!</strong>

                </div>
            </fieldset>
        </form>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update/Delete Concession Type</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Concession Name</strong></label>
                <input class="span3" ng-model="concession_type.name" placeholder="Name" type="text" maxlength="40">
                <label><strong>Percentage</strong></label>
                <input class="span3" ng-model="concession_type.percentage" placeholder="Percentage" type="integer" maxlength="40">
                <label><strong>%</strong></label>

                <button class="btn btn-primary" ng-click="showPopup()">Update</button>
                <button class="btn btn-primary" ng-click="showPopup2()">Delete</button>
                <div class="alert" ng-show="isPopupVisible">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Warning!</strong>
                    This action is final. Do you want to continue?
                    <button class="btn btn-primary" ng-click="updateConcession_type()">Yes</button>

                </div>
                <div class="alert" ng-show="isPopupVisible2">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Warning!</strong>
                    This action is final. Do you want to continue?
                    <button class="btn btn-primary" ng-click="destroyConcession_type    ()">Yes</button>

                </div>

                <div class="alert alert-success" ng-show="isPopupVisible3">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Business created</strong>
                </div>
                <div class="alert alert-success" ng-show="isPopupVisible4">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Success!</strong>

                </div>
                <div class="alert" ng-show="isPopupVisible5">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>Did not work!</strong>

                </div>
            </fieldset>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>




