<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="images/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>{{merchandise.title}}</h2>
                <h2 ng-show = "isPopupvisibleloggedout">Not logged in. Please login to create merchandise</h2>
                <ol class="breadcrumb">
                    <!--<li><a href="index.html">Home</a></li>-->
                    <!--<li><a href="#">Product</a></li>-->
                    <!--<li class="active">T-shirt</li>-->
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- / catg header banner section -->

<!-- product category -->
<!-- /control-group -->

<section id="aa-product-details">
    <div class="row">
        <!-- Modal view slider -->
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="aa-product-view-slider">
                <div id="demo-1" class="simpleLens-gallery-container">
                    <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container"><a data-lens-image="images/polo-shirt-1.png" class="simpleLens-lens-image"><img src="images/polo-shirt-1.png" class="simpleLens-big-image"></a></div>
                    </div>
                    <div class="simpleLens-thumbnails-container-merchandise">
                        <a data-big-image="img/view-slider/medium/polo-shirt-1.png" data-lens-image="img/view-slider/large/polo-shirt-1.png" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="images/man-small-1.jpg">
                        </a>
                        <a data-big-image="img/view-slider/medium/polo-shirt-3.png" data-lens-image="img/view-slider/large/polo-shirt-3.png" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="images/man-small-1.jpg">
                        </a>
                        <a data-big-image="img/view-slider/medium/polo-shirt-4.png" data-lens-image="img/view-slider/large/polo-shirt-4.png" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="images/man-small-1.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal view content -->
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="aa-product-view-content">
                <form class="pure-form pure-form-aligned" name="frm"
                      novalidate autocomplete="off">
                    <h3>Merchandise Name</h3>
                    <div class="aa-price-block">
                        <input type="text"
                               name="title"
                               ng-model="merchandise.title"
                               placeholder="Title"
                               class="required input-xlarge"
                               required class="required input-xlarge"/>
                    </div>
                    <div class="field-message" ng-messages="frm.title.$error" ng-if='frm.title.$dirty' ng-cloak>
                        <div ng-message="required">Title is required</div>
                    </div>
                <h3>Merchandise Value</h3>
                <div class="aa-price-block-1">

                    <input name = "value"
                           type="number"
                           ng-model="merchandise.value"
                           min= "10"
                           placeholder="$"
                           step="0.01"
                           required
                            />
                    <!--required-->
                    <!--class="required"-->
                    <!--currency-->

                </div>

                <div class="field-message" ng-messages="frm.value.$error" ng-if='frm.value.$dirty' ng-cloak>
                    <div ng-message="required">Required field, must be greater than $10</div>
                    <div ng-message="min">Value must be greater than $10</div>
                </div>

                <h3>Merchandise Category</h3>
                <div class="dropdown-large">
                    <div class="dropdown-large">
                        <select ng-model="merchandise.category"
                                name="category"
                                ng-options = "category.name for category in categories"
                                class="input-medium"
                                id="dropdown-large"
                                ng-model=category
                                required>
                            <!--<option ng-repeat="merchandise in merchandises">{{merchandise.title}}</option>-->

                            <option value = "">Category</option>


                        </select>
                    </div>
                </div>
                    <div class="field-message" ng-messages="frm.category.$error" ng-if='frm.category.$dirty' ng-cloak>
                        <div ng-message="required">Category is required</div>
                    </div>
                <h3>Merchandise Description</h3>

                <p>{{merchandise.description}}</p>


                <!--<div class="aa-prod-view-bottom">-->
                    <!--<a class="aa-add-to-cart-btn" input type="file" ngf-select ng-model="selected.images" required">Upload images</a>-->
                    <!--<img ng-model="merchandise.images" />{{merchandise.images}}-->
                <!--</div>-->
                <div class="control-group">
                    <label class="control-label" >Image</label>
                    <div class="controls">
                        <input type="file"
                               name="image"
                               ngf-select
                               ng-model="selected.images"
                               required>
                    </div>
                </div>
                    <div class="field-message" ng-messages="frm.image.$error" ng-if='frm.image.$dirty' ng-cloak>
                        <div ng-message="required">Images are required</div>
                    </div>
                    <button type="submit" ng-click="createMerchandise(); frm.image.$setDirty(); frm.title.$setDirty(); frm.category.$setDirty(); frm.value.$setDirty()" class="btn bg-emerald submit" ng-show = "isPopupvisiblesubmit">Submit</button>

                </form>
            </div>
        </div>
    </div>



<div class="aa-product-details-bottom">
        <h3>Description</h3>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="description">
        <textarea class="description" placeholder="Write a description of your groupbuy!"  ng-model="merchandise.description"></textarea>
        </div>
    </div>
    <button type="submit" ng-click="createMerchandise(); frm.image.$setDirty(); frm.title.$setDirty(); frm.category.$setDirty(); frm.value.$setDirty()" class="btn bg-emerald submit" ng-show = "isPopupvisiblesubmit">Submit</button>
    </div>
  <script type="text/ng-template" id="successModal.html">
    <div class="modal-content"  ng-controller="sticksController">
      <div class="modal-body">
        <div class="alert alert-success alert-dismissible fade in" >
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Merchandise Created!
        </div>

      </div>
    </div><!-- /.modal-content -->


  </script>
  <script type="text/ng-template" id="failModal.html">
    <div class="modal-content"  ng-controller="sticksController">
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade in">
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> Bid unsuccessful!
        </div>

      </div>
    </div><!-- /.modal-content -->


  </script>


