<div class="container" style="margin-top: 40px">
    <h1 class="text-center">Create new post</h1>
    <form>
        <fieldset>
            <label><strong>Product Name</strong></label>
            <input class="span12" ng-model="product.name" placeholder="Name" type="text" maxlength="250">
            <label><strong>Price</strong></label>
            <input class="span12" ng-model="product.price" placeholder="$" type="text" maxlength="250">
            <button class="btn btn-primary" ng-click="createProduct()">Create</button>
            <button class="btn btn-danger pull-right" ng-click="clearProduct()">Clear post</button>
        </fieldset>
    </form>
</div>
<button type="button" class="btn btn-primary" ng-click="ProductsController.modalUpdate()">
MODAL
</button>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
            <div>
                <ul ng-repeat="product in products">
                    <li>{{product.id}}</li>
                    <li>{{product.name}}</li>

                </ul>
            </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<button class="btn btn-default" ng-click="open()">Open me!</button>
<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>

        <div class="container" style="margin-top: 40px">
            <h1 class="text-center">Products</h1>

            <div>
                <ul ng-repeat="product in products">
                    <li>{{product.id}}</li>
                    <li>{{product.name}}</li>

                </ul>
                <ul>
                    AM I HERE
                </ul>
            </div>
            </div>