<div class="widget border-cyan">

    <div class="header">
        <h3 class="title">Create new letter</h3>
    </div>
    <div class="body">
        <form>
            <fieldset>

                <label><strong>Doctor</strong></label>
                <input class="span3"  ng-model="recipient.letter_id" placeholder="Letter" type="integer" maxlength="40" required>
                <label><strong>Email</strong></label>

                <input class="span3"  ng-model="recipient.email" placeholder="Patient" type="text" maxlength="40" required>
                <label><strong>first name</strong></label>
                <input class="span3"  ng-model="recipient.first_name" placeholder="First Name" type="text" maxlength="40" required>
                <label><strong>Last name</strong></label>

                <input class="span3" ng-model="recipient.last_name" placeholder="Last Name" type="text" maxlength="40" required>
                <label><strong>Name</strong></label>

                <input class="span3" ng-model="recipient.name" placeholder="Subject" type="text" maxlength="40" required>


                <button class="btn btn-primary" ng-click="createRecipient()">Create</button>

            </fieldset>
        </form>
        <div class="modal-footer">
        </div>
    </div>
</div>
