
<!-- widget thover -->
<div class="widget bg-steel" id="widget-thover">
    <!-- widget header -->
    <div class="widget-header">
        <!-- widget icon -->
        <!-- widget title -->
        <h4 class="widget-title">Taxes List</h4>
        <!-- widget action, you can also use btn, btn-group, nav-tabs or nav-pills (also support dropdown). enjoy! -->

    </div><!-- /widget header -->

    <!-- widget content -->
    <div class="widget-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Tax</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody  data-ng-repeat="tax in taxes" ng-click="update('sm', tax)">
            <tr>
                <td>{{tax.id}}</td>
                <td>{{tax.name}}</td>
                <td>{{tax.amount}}</td>

            </tr>
            </tbody>
        </table>
    </div><!-- /widget content -->
</div> <!-- /widget thover -->
<button class="btn btn-primary" ng-click="create('sm')">Create</button>


<script type="text/ng-template" id="createModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a Tax!</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Tax Name</strong></label>
                <input class="span3" id="formData.taxName" ng-model="tax.name" placeholder="Name" type="text" maxlength="40">
                <label><strong>Price</strong></label>
                <input class="span3" id="formData.taxAmount" ng-model="tax.amount" placeholder="$" type="text" maxlength="40">
                <button class="btn btn-primary" ng-click="createTax()">Create</button>
            </fieldset>
        </form>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label><strong>Tax Name</strong></label>
                <input class="span3" id="formData.taxName" ng-model="tax.name" placeholder="Name" type="text" maxlength="40">
                <label><strong>Price</strong></label>
                <input class="span3" id="formData.taxAmount" ng-model="tax.amount" placeholder="$" type="text" maxlength="40">
                <button class="btn btn-primary" ng-click="updateTax()">Update</button>
                <button class="btn btn-danger pull-right" ng-click="destroyTax()">Delete tax</button>
            </fieldset>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
