
            <!-- content title-->

            <!-- content breadcrumb -->
            <ul class="breadcrumb breadcrumb-inline">
                <li><a href="#">Home</a> <span class="divider"><i class="aweso-angle-right"></i></span></li>
                <li class="active">Wysiwyg</li>
            </ul>
        </header> <!--/ content header -->


        <!-- content page -->
        <article class="content-page">





                <div class="container" style="margin-top: 40px">
                    <h1 class="text-center">Create new post</h1>
                    <form>
                        <fieldset>
                            <label><strong>Template Name</strong></label>
                            <input class="span12" ng-model="template.name" placeholder="Template Name" type="text" maxlength="250">
                            <label><strong>Last Name</strong></label>
                            <input class="span12" ng-model="template.content" placeholder="Content" type="text" maxlength="250">
                            <button class="btn btn-primary" ng-click="createTemplate()">Compose</button>
                            <button class="btn btn-danger pull-right" ng-click="clearTemplate()">Clear post</button>
                        </fieldset>
                    </form>
                </div><!-- /widget content -->
            </div> <!-- /widget ckeditor -->
            <button class="btn btn-default" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.template = template">{{ template }}</a>
                          </li>
                    </ul>
                    Selected: <b>{{ selected.item }}</b>
                    <div>
                        <ul ng-repeat="template in templates">
                            <li>{{template.id}}</li>
                            <li>{{template.name}}</li>
                            <a ng-click="selected.template = template">{{ template }}</a>

                        </ul>
                        Selected: <b>{{ selected.template }}</b>

                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <fieldset>
                <input class="span12" ng-model="template.name" placeholder="Template Name" type="text" maxlength="250">

                <textarea ck-editor ng-model="template.content" placeholder="Template Content" type="text"></textarea>
            <button class="btn btn-primary" ng-click="createTemplate()">Compose</button>
            <button class="btn btn-danger pull-right" ng-click="clearTemplate()">Clear post</button>
            </fieldset>
            </div><!-- /content-inner-->
    </div><!-- /main-page-->

    </article> <!-- /content page -->


    </div> <!--/ end content -->
</section> <!-- /end section content-->


<!-- footer, I place the footer on here. -->
<footer class="footer">
    <p>Copyright &copy; 2013. All Right Reserved.</p>
</footer><!--/ footer -->

