<h1>Listing taxes</h1>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '614823908618705',
            xfbml      : true,
            version    : 'v2.3'
        });
        FB.ui({
            method: 'share_open_graph',
            action_type: 'og.likes',
            action_properties: JSON.stringify({
                object:'https://developers.facebook.com/docs/'
            })
        }, function(response){});
        FB.login(function(){}, {scope: 'publish_actions'});
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
            } else if (response.status === 'not_authorized') {
                FB.login(
                        function(response) {
                            if (response.authResponse) {
                                top.location.href='http://domain.com/directory/mobile/';
                            } else {}
                        },
                        { scope: 'email,user_birthday,user_location,user_likes' }
                );
            } else {
                FB.login(
                        function(response) {
                            if (response.authResponse) {
                                top.location.href='http://domain.com/directory/mobile/';
                            } else {}
                        },
                        { scope: 'email,user_birthday,user_location,user_likes' }
                );
            }
            }
    //})


    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div
        class="fb-like"
        data-send="true"
        data-width="450"
        data-show-faces="true">
</div>
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taxes.each do |tax| %>
      <tr>
        <td><%= tax.name %></td>
        <td><%= tax.amount %></td>
        <td><%= link_to 'Show', tax %></td>
        <td><%= link_to 'Edit', edit_tax_path(tax) %></td>
        <td><%= link_to 'Destroy', tax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax', new_tax_path %>
<div id="content">
 <div class="loggedOff">Mate, login huh? <a href="a" onclick="goLogIn()">Log In</a>
 </div>
 <div class="loggedOn">"Welcome mate! Thanks for visiting!</div>
</div>
