<!DOCTYPE html>
<html>
<h1>Bidding on <%= @merchandise.title %> complete, <%= @consumer.name %></h1>
<p>
  Bidding is complete! Click the link below to submit your answers
  You have until 2359 on the Monday following this email to submit your answers

</p>

<a href="http://localhost:9000/#!/bids/<%= @merchandise.id %>">Submit answers link!</a>
</html>