<h1>Welcome to example.com, <%= @consumer.name %></h1>
<p>
  Bad luck <%= @consumer.email %> you have not won this time.
  Visit   <a href="http://localhost:9000/#/sticks"/"> for more chances to win! </a>



</p>

