// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.options {
  background-color: #EEEEEE;
  padding: 1.5em;
  border: 1px solid #BBBBBB;

  .title {
    margin-left: -0.5em;
    margin-top: -1.5em;
  }
}

#calendar {
  min-height: 400px;
  margin-top: 4em;
}

form div.label {
	font-size: 1.3em;
	padding-top: 10px;
}

input.ui-timepicker-input {
	width: 30px;
}

.widget-createwidget {
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 10px !important;
  text-align: center !important;
  width: 70px !important;
  height: 70px !important;
  border: 1px solid #ccc !important;
  padding: 0px 3px 3px 3px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  margin-bottom: 5px !important }
.widget-createwidget:hover { background-color: #ffe !important }
.widget-createwidget .line1 { font-size: 36px !important }
.widget-createwidget .line2 { font-size: 12px !important }