<div class="widget-createwidget">
  <a href="http://appointments/index"
     title="Create appointment">
    <div class="line1">I <span class="heart">&hearts;</span></div>
    <div class="line2">TaskArmy</div>
     </a>
</div>